.quiz-container {
  margin: 0 auto;
  width: 60%;
}

.quiz-header {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  /*background: linear-gradient(to top, #396a93 0%, #ADD8E6 100%);*/
  background-color: #396a93;
  color: white;
}

.quiz-info {
  padding: 20px 40px;
  font-size: 0.9em;
}

.info {
  margin: 5px;
}

.quiz {
  margin: 40px auto;
}

#question-text {
  font-size: 1.75em;
  text-align: center;
}

.choices {
  display: grid;
  margin: 40px auto;
  width: 60%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  justify-items: center;
}

.choices button {
  height: 90px;
  width: 100%;
  padding: 5px;
  font-size: 1.3em;
  border: 2px solid #ADD8E6;
  border-radius: 10px;
  color: black;
}

.choices button:disabled {
  color: black;
}

@media only screen and (max-width: 1500px) {
  #question-text {
    font-size: 1.5em;
  }
  
  .choices {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  #category-name {
    padding: 20px 0;
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.1em;
  }

  .quiz-info {
    padding: 0 20px 10px 20px;
  }

  #question-text {
    font-size: 1.5em;
  }
  
  .choices {
    margin: 40px auto;
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: 20px;
  }

  .choices button {
    height: 60px;
    width: 275px;
    font-size: 1.2em;
  }
}