.quiz-container {
  margin: 0 auto;
  width: 100%;
}

.quiz-header {
  margin: 40px auto;
  width: 50%;
  height: 75px;
  background: linear-gradient(180deg, rgba(100,149,237,1) 0%, rgba(57,106,147,1) 100%);
  /*background-color: #396a93;*/
  color: white;
  text-align: center;
  border-radius: 10px;
}

.quiz-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quiz-info {
  padding: 10px 20px;
  font-size: 1.2em;
  text-align: left;
  color: white;
  font-weight: 400;
}

#quiz-name {
  margin-top: -55px;
  padding-bottom: 20px;
  font-size: 1.7em;
}

.info {
  margin: 5px;
}

.quiz {
  margin: 40px auto;
  width: 60%;
}

#question-text {
  font-size: 1.75em;
  text-align: center;
}

.choices {
  display: grid;
  margin: 40px auto;
  width: 60%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  justify-items: center;
}

.choices button {
  height: 90px;
  width: 100%;
  padding: 5px;
  font-size: 1.3em;
  border: 2px solid #ADD8E6;
  border-radius: 10px;
  color: black;
}

.choices button:disabled {
  color: black;
}

@media only screen and (max-width: 1500px) {
  .quiz-container {
    width: 75%;
  }
  
  #quiz-name {
    font-size: 1.5em;
  }

  .quiz-info {
    font-size: 0.8em;
  }

  #question-text {
    font-size: 1.5em;
  }
  
  .choices {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .quiz-container {
    width: 90%;
  }

  .quiz-header {
    height: 110px;
  }

  #quiz-name {
    padding-top: 55px;
    font-size: 1.4em;
  }

  .quiz-info {
    margin-top: 0;
    padding: 5px;
    font-size: 0.7em;
  }

  #question-text {
    font-size: 1.5em;
  }
  
  .choices {
    margin: 40px auto;
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: 20px;
  }

  .choices button {
    height: 60px;
    width: 275px;
    font-size: 1.2em;
  }
}