.header {
    margin: 0 auto;
    width: 1040px;
    background-color: gainsboro;
}

.quiz-categories {
    margin: 0 auto;
    width: 1040px;
}

.category {
    display: flex;
    margin: 20px 0;
    height: 55px;
    align-items: center;
    border-radius: 10px;
}

.category img {
    height: 40px;
    padding-left: 35px;
}

.category h2 {
    padding-left: 35px;
}

.quizzes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.quizzes button {
    width: 192px;
    height: 60px;
    border: 2px solid #ADD8E6;
    border-radius: 10px;
    background-color: white;
    font-size: clamp(12px, 1vw, 20px);
    padding: 5px;
}

.quizzes button:hover {
    cursor: pointer;
    background-color: #F0F8FF;
}
