/* Universal styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* base styles */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid silver;
}

.navbar h1 {
  font-size: 2em;
  color: orangered;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 0;
  padding-right: 40px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

/* main content */
.content {
  padding: 20px;
  max-width: 1000px;
  margin: 40px auto;
}

.quiz-container {
  position: relative;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
}

.quiz {
  margin: 60px auto;
}

#question-text {
  font-size: 1.7em;
  text-align: center;
}

.choices {
  margin: 60px auto;
  width: 640px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  justify-items: center;
}

.choices button {
  height: 75px;
  width: 300px;
  padding: 5px;
  font-size: 1.3em;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
}

.choices button:hover {
  background-color: AliceBlue;
}

.choices button:disabled {

}

.endGame-panel {
  position: absolute;
  top: 0px;
  left: -25px;
  display: none;
  width: 1050px;
  height: 600px;
  background-color: white;
  text-align: center;
}