/* Universal styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* base styles */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid silver;
}

.navbar h1 {
  font-size: 2em;
  color: orangered;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 0;
  padding-right: 40px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

/* main content */
.content {
  padding: 20px;
  max-width: 1000px;
  margin: 40px auto;
}

.quiz h2 {
  margin: 20px auto;
}

.quiz a {
  text-decoration: none;
  color: orangered;
}